<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Environment" value="PROD"/>
    <!--<add key="Environment" value="DEVL"/>-->

    <add key="Warning"     value="warninglog.txt"/>
    <add key="Information" value="infolog.txt"/>
    <add key="Debug"       value="debuglog.txt"/>
    <add key="Error"       value="errorlog.txt"/>
    <add key="AllMessages" value="log.txt"/>
  </appSettings>
</configuration>
